{% extends 'base.html' %}

{% load static %}

{% block title_content %} {% if new %} New {% else %} Edit {% endif %} Funding {% endblock %}

{% block content %}

<a style="text-decoration: none; margin-left: 20px;" href="{% url 'core:funding_list' %}">
    <i class="fas fa-arrow-left fa-1x"></i>
</a>
<div class="col-12">
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group col-md-3">
            <label for="name">Name</label>
            {{ form.name }}
        </div>
        <br/>
        <input class="btn btn-dark" type="submit" value="Submit" style="margin-left: 10px;">
    </form>
</div>

{% endblock %}