{% extends 'base.html' %}

{% load static %}

{% block title_content %}
<!--img src="{% static 'img/instructor.png' %}" width="40px" height="40px"></img-->
Advisors List {% endblock %}

{% block content %}

<a style="text-decoration: none;" href="{% url 'core:advisor_create' %}">
    <button type="button" class="btn btn-dark">Include</button>
</a>
<br/> <br/>
<div class="card">
    <div class="card-body">
      <table id="datatable" class="display compact" style="width:100%">
        <thead>
        <tr>
          <th>Advisor Name</th>
          <th>Status</th>
          <th>Enabled</th>
          <th data-orderable="false">Action</th>
        </tr>
        </thead>
        <tbody>
            {% for item in advisors %}
                <tr>
                    <td>{{ item }}</td>
                    <td>
                      {% if item.get_status_display == "Active" %}
                      <i class="fas fa-circle" style="color: green;"></i>
                      {% else %}
                      {% if item.get_status_display == "Pending Review" or item.get_status_display == "Pending Update" %}
                      <i class="fas fa-circle" style="color: yellow;"></i>
                      {% else %}
                      <i class="fas fa-circle" style="color: red"></i>
                      {% endif %}
                      {% endif %}
                    </td>
                    <td>
                      {% if item.enable_match %}
                      <i class="fas fa-circle" style="color: green;"></i>
                      {% else %}
                      <i class="fas fa-circle" style="color: red"></i>
                      {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'core:advisor_edit' item.id %}" class="edit-btn">
                            <i class="fas fa-edit" style="color: black;"></i>
                        </a>
                        <a href="#" data-username="{{ item.name }}" data-url="{% url 'core:advisor_delete' item.id %}" class="deleteadvisor">
                          <i class="fas fa-trash" style="color: black;"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

<div class="modal fade" id="deleteadvisor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Delete Advisor <span id="username"></span>?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this advisor?
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form method="POST">
          {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
  
{% include 'datatables.html' %}
  
<script>
  
$(document).ready(function() {
    $('a.deleteadvisor').on( "click", function() {
        event.preventDefault();
        $('#deleteadvisor form').attr('action', $(this).data("url"));
        $('#deleteadvisor #username').text($(this).data("username"));
        $('#deleteadvisor').modal('show');
    });
});

</script>

{% endblock %}