{% extends 'base.html' %}

{% load static %}

{% block title_content %} Error 500 {% endblock %}

{% block content %}

<div class="col-12">

    <div class="col-md-4" style="float: left;">
        <img src="{% static 'img/error.png' %}" style="width: 300px; height: 300px;" alt="Imagem Usuário"></img>
    </div>
    <div class="col-md-8" style="float: right; margin-top: 70px;">
        <h1>Internal Server Error!</h1>
        <a style="text-decoration: none;" href="{% url 'user:admin' %}">
            <i class="fas fa-reply"></i> Back to home
        </a>
    </div>

</div>


{% endblock %}