{% extends 'home.html' %}

{% load static %}

{% block content %}

<div class="form-group col-md-12">
  <label>
    We are an advisor-powered venture platform for Fintech & Commerce Tech for inspirational founders and enterprises building high impact businesses.
  </label>
</div>
<div class="form-group col-md-12">
  <label>
This exclusive network of top-tier advisors, non-executive directors, and resident entrepreneurs was formed in response to our deep-rooted belief that people, primarily operators,
can make a significant strategic impact to an early stage, growth, or seasoned company.
  </label>
</div>
<div class="form-group col-md-12">
  <label>
Function Ventures Advisors procures exceptional individuals capable of driving product market fit, go-to-market strategies, customer acceleration, and serving as collaborative
design partners from the earliest stages of inception. As we continue to expand our sphere of influence, we are constantly seeking out new advisors to join our ranks and connect
with VCs, founders, and Family Offices thereby fortifying our network's unmatched capabilities.
  </label>
</div>
<div class="form-group col-md-12">
  <label>
Our area of expertise is rooted in the payments ecosystem and we assist companies that are fintech or commerce tech focused in Emerging Africa, Southeast Asia, and the USA.
  </label>
</div>

{% endblock %}